__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
.git/
.github/
.vscode/
.idea/
.pytest_cache/
.mypy_cache/
*.egg-info/
*.zip
reports/*.html
README.md
DEPLOYMENT.md
Dockerfile
compose*.yaml
compose*.yml
docker-compose*.yaml
docker-compose*.yml
alerter_package/bin/
alerter_package/boto3/
alerter_package/botocore/
alerter_package/dateutil/
alerter_package/jmespath/
alerter_package/s3transfer/
alerter_package/urllib3/
alerter_package/*.dist-info/
auditor_package/bin/
auditor_package/boto3/
auditor_package/botocore/
auditor_package/dateutil/
auditor_package/jmespath/
auditor_package/s3transfer/
auditor_package/urllib3/
auditor_package/*.dist-info/
